html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    
}

form {
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top:50px;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.loginTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .loginTable td {
        padding: 10px;
    }

    .loginTable p {
        margin: 0;
        font-weight: bold;
    }

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    border:1px solid rgba(0, 0, 0, 0.2);
}

.loginButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
    
}

    .loginButton:hover {
        background-color: #0056b3;
    }

.text-danger {
    color: #ff0000;
    font-size: 14px;
}

.product {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align:center;
}

    .product img {
        max-width:100%;
    }
    .product h3 {
        height: 2em;
    }
.description {
    max-height: 3em;
    overflow: hidden;
    white-space:normal;
    
}