
@{
    List<Product> products = (List<Product>)ViewData["products"];
}
@section Scripts{
    <script src="~/js/Gallery.js"></script>
}

<title>Book Gallery</title>

<body>
    @for(int i = 0; i < products.Count; i++ )
    {
        if (i % 3 == 0)
        {
            <br />
        }
        <div class="product">
            <img src="~/image/@(products[i].Name).jpg">
            <h3>@products[i].Name</h3>
            <p class="description">@products[i].Description</p>
        </div>
    }


</body>
